<link rel="stylesheet" href="/public/css/home.css">
<div id="home_body" class="body_padding">
<div class="row">
  <div class="col s2">

  </div>
  <div class="col s4">
    <h1 id="project_name">WeCode</h1>
  </div>
  <div class="col s6">

  </div>
</div>
<div class="row">
  <div class="col s2">
  </div>
  <div class="col s4" style="padding-top: 40px;">
    <div class="row row_description" >
      <div class="col s3 icon_container center-align">
         <i class="material-icons medium">code</i>
      </div>
      <div class="col s9">
        <span class="icon_text">
          Just One<br/>
          Problem a Day
        </span>
      </div>
    </div>
    <div class="row row_description">
      <div class="col s3 icon_container center-align">
        <i class="material-icons medium">people</i>
      </div>
      <div class="col s9">
        <span  class="icon_text">
          Need Help?<br/>
          Chat with Others
        </span>
      </div>
    </div>
    <div class="row row_description">
      <div class="col s3 icon_container center-align">
        <i class="material-icons medium">search</i>
      </div>
      <div class="col s9">
        <span  class="icon_text">
          Finish Problem<br/>
          Analyze Approach
        </span>
      </div>
    </div>
  </div>
  <div class="col s6">
      <div class="row">
        <div class="col s9">
          <span id="project_description">
            WeCode is a platform for the programming community to come together and jointly solve one programming problem a day.
          </span>
        </div>
      </div>
      <div class="col s3">

      </div>
      <div class="row">
        <div class="col s12">
          <a href="/problem"><button id="start_button" class="waves-effect waves-light btn-large">Start Coding!</button></a>
        </div>
      </div>
  </div>
</div>
</div>
