<h1>Problem</h1>
<label for="problem_input">Upload your input file:</label><br />
<input id="problem_input" type="file">
<ul id="messages"></ul>
<span id="user_typing"> </span>
<form action="">
  <input id="chatbox_input" autocomplete="off"></input>
  <button> Submit </button>
</form>
<script src="/socket.io-client/socket.io.js" defer></script>
<script src="/public/js/problem.js" defer></script>
