<link rel="stylesheet" href="/public/css/results.css">
<h1>Results</h1>
<div id="results_body" class="body_padding">
<div class="row">
    <div class="col s2">
    </div>
    <div class="col s10">

    </div>
    <div class="col s2">
    </div>

</div>
</div>
