<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <h1>Profile</h1>
  {{#each success}}
    <div class="alert alert-danger">{{this}}</div>
  {{/each}}

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{user.username}}
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Profile Settings</a></li>
      <li><a href="#">History</a></li>
      <li><a href="/logout" name="action">Log Out</a></li>
    </ul>
  </div>
</body>
