<DOCTYPE !html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/materialize/materialize.min.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/public/css/main.css">

  <script src="/js/jquery/jquery.min.js" defer></script>
  <script src="/js/materialize/materialize.min.js" defer></script>
  <title> CTP Algorithm Website </title>
</head>
<body>
  <table>
    <tr>
      <td><a href="/"> Home </a></td>
      <td><a href="/problem"> Problem </a></td>
      <td><a href="/user"> List of Users </a></td>
      <td><a href="/login"> Login </a></td>
      <td><a href="/register"> Register </a></td>
      <td><a href="/results"> Results </a></td>
    </tr>
  </table>

<!--Sessions need to check if user is loggedIn, if so stick in username and questionTitle is always put in, uncomment below to test navbar  -->
  <!-- <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo" style="padding-left:20px;">WeCode <> </a>
      <a href="/problem" class="center brand-logo" style="font-size: 18px;">QuestionTitle Here{{questionTitle}}</a>
      <ul class="right hide-on-med-and-down">

      {{#if loggedIn}}
            <li><a class="dropdown-button menu_button" href="#" data-activates="dropdown1">Username{{username}}<i class="material-icons right">arrow_drop_down</i></a></li>
      {{else}}
              <li><a href="/login" class="right menu_button">Login</a></li>
      {{/if}}
      </ul>
    </div>
  </nav>

  {{#if loggedIn}}
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
  {{/if}} -->

  {{{body}}}
</body>
</html>
