<DOCTYPE !html>
<html>
<head>
  <meta charset="utf-8">
  <link href="/../node_modules/materialize-css/bin/materialize.css" rel="stylesheet">
  <title> CTP Algorithm Website </title>
</head>
<body>
  <table>
    <tr>
      <td><a href="/"> Home </a></td>
      <td><a href="/problem"> Problem </a></td>
      <td><a href="/user"> List of Users </a></td>
      <td><a href="/login"> Login </a></td>
      <td><a href="/register"> Register </a></td>
      <td><a href="/results"> Results </a></td>
    </tr>
  </table>
  {{{body}}}
  <script src=="../../node_modules/jquery/dist/jquery.min.js"
  <script src="../../node_modules/materialize-css/bin/materialize.js"></script>
</body>
</html>
