<DOCTYPE !html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/public/css/main.css">

  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js" defer></script>
  <title> CTP Algorithm Website </title>
</head>
<body>
  <!-- <table>
    <tr>
      <td><a href="/"> Home </a></td>
      <td><a href="/problem"> Problem </a></td>
      <td><a href="/user"> List of Users </a></td>
      <td><a href="/login"> Login </a></td>
      <td><a href="/register"> Register </a></td>
      <td><a href="/results"> Results </a></td>
    </tr>
  </table> -->


   <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo" style="padding-left:20px;">WeCode <> </a>
      <a href="/problem" class="center brand-logo" style="font-size: 18px;">Relational Operators{{questionTitle}}</a>
      <ul class="right hide-on-med-and-down">

      {{#if user}}
           <li><a class="dropdown-button menu_button" href="#" data-activates="dropdown1">{{user.username}}<i class="material-icons right">arrow_drop_down</i></a></li>
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="/profile">Profile</a></li>
              <li><a href="/logout">Logout</a></li>

            </ul>
      {{else}}
              <li><a href="/login" class="right menu_button">Login</a></li>
      {{/if}}
      </ul>
    </div>
  </nav>

  {{{body}}}
</body>
</html>
